<nav class="bottom-menu navbar navbar-dark navbar-expand fixed-bottom bg-dark justify-content-center">
    <div class="container-fluid">
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <a class="nav-link d-flex flex-column" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house-fill" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex flex-column" href="tasks">
                    <i class="bi bi-list-check" aria-hidden="true"></i>
                    <span>Tasks</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex flex-column" href="profile">
                    <i class="bi bi-person-fill" aria-hidden="true"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex flex-column" href="settings">
                    <i class="bi bi-gear-fill" aria-hidden="true"></i>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

@code {

}
